<div class="container-product-list">

  <div class="row align-items-center">
    <div class="col-sm-3">
      <h6 class="indicate-page-locate">Home - H2</h6>
    </div>
    <br>
    <div class="col-sm-9 text-right">
      <label for="button-group-sorted">Sorted By : </label>
      <div class="btn-group" id="button-group-sorted">

        <button (click)="sortItems('price')" type="button" class="btn btn-link"> Price</button>
        <button (click)="sortItems('rate')"type="button" class="btn btn-link">Rating</button>
        <button (click)="sortItems('brand')"type="button" class="btn btn-link">Brand</button>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-sm-3 offset-sm-1">
      <div id="displayFilters" class="row">
        <h3 class="title-section">Home Decor</h3>
        <button *ngFor="let filtre of filters" (click)="filterItems(filtre)" class="btn btn-light btn-small" >&times;{{filtre}}</button>
      </div>
    </div>
    <div class="col-sm-8 text-right">
      <button class="btn btn-outline-dark" (click)="switchDisplayFilter()">Filter By</button>
      <div id="filter-choice" class="row" *ngIf="filterShow">
        <div class="form-check form-check-inline">
          <input (change)="filterItems('Kitchen')" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Kitchen"
                 [checked]="filters.includes('Kitchen')" >
          <label class="form-check-label" for="inlineCheckbox1">Kitchen</label>
        </div>
        <div class="form-check form-check-inline">
          <input (change)="filterItems('Decor')"class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Decor"
                 [checked]="filters.includes('Decor')" >
          <label class="form-check-label" for="inlineCheckbox2">Decor</label>
        </div>
        <div class="form-check form-check-inline">
          <input (change)="filterItems('Luminaire')" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Luminaire"
                 [checked]="filters.includes('Luminaire')" >
          <label class="form-check-label" for="inlineCheckbox3">Luminaire</label>
        </div>
        <div class="form-check form-check-inline">
          <input (change)="filterItems('Vase')" class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Vase"
                 [checked]="filters.includes('Vase')" >
          <label class="form-check-label" for="inlineCheckbox4">Vase</label>
        </div>
        <div class="form-check form-check-inline">
          <input (change)="filterItems('Musique')" class="form-check-input" type="checkbox" id="inlineCheckbox5" value="Musique"
                 [checked]="filters.includes('Musique')" >
          <label class="form-check-label" for="inlineCheckbox5">Musique</label>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid container-items">
    <div class="card-deck justify-content-center">
      <app-item class="item-card" *ngFor="let item of items"
                [id] = "item.id"
                [name]="item.name"
                [brand]="item.brand"
                [collection]="item.collection"
                [imgUrl]="item.imgUrl"
                [price]="item.price"
                [rate]="item.rate"></app-item>
    </div>

  </div>

  <footer>
    <div class="row">
      <div class="col text-left">
        <a>Previous</a>
      </div>
      <div class="col text-center">
        <p>3 / 4</p>
      </div>
      <div class="col text-right">
        <a>Next</a>
      </div>
    </div>
  </footer>

</div>
