<!-- Ceci est le template graphique d'un item / certain attribut n'apparaissent pas car inutile -->
<!-- *ngIf hot décrit si un item a été acheté plus de 300 fois -->
<!-- Ce template est utilisé par la page product-listing mais aussi dans la section popular de la page Home -->
  <div class="card table-responsive-sm">
    <figure>
      <figcaption class="hot-mention" *ngIf="isHot"><span>HOT</span></figcaption>
      <img class="card-img-top" src="{{imgUrl}}" alt="Card image cap">
    </figure>

    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{collection}} <span> {{brand}}</span></p>
      <p>{{price}} $</p>
      <p class="card-text"><small class="text-muted">rating : {{rate}} star</small></p>
    </div>
  </div>
