<!-- La pop in est un modal qui est présent sur toute les pages -->
<!-- Sa position est fixed mais son emplacement est redefinit selon les besoins de la page courante dans laquelle
 cette dernière est appellée-->
<!-- pas d'utilisation de svg ici pour l'image, car la classe bootstrap img-fluid permet de rendre l'image responsiv -->
<!--  La balise Modal est définit dans le module (package npm) ModalModule de ngb-modal -->
<div id="popin" class="row justify-content-end">
  <button id="openModalButton" class="btn btn-dark btn-sm"(click)="openModal()">Need Help ?</button>
  <modal #myModal >
    <modal-content >
      <div class="row">
        <div class="col-sm-4 offset-1 text-center">
          <img class="img-fluid" src="../../../assets/images/needHelp.png" alt="needHelpImage">
        </div>
        <br>
        <div class="col-sm-5 offset-1 text-center">
          <h3>Need Help ?</h3><br>
          <p>Start a live call with us now to have us attend to any of your enquiries.</p><br>
          <div class="row">
            <div class="col-lg text-center">
              <button class="btn btn-sm btn-outline-dark">Start Live Chat</button>
            </div>
            <div class="col-lg text-center">
              <button class="btn btn-sm btn-outline-dark">Request for call</button>
            </div>
          </div>
        </div>
      </div>
    </modal-content>
  </modal>
</div>`
