<!-- angular material header -->
<header>
  <mat-toolbar class="fixed-header">
    <div class="toogle-container">
      <button mat-raised-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="action-menu-container">
      <mat-nav-list class="list-menu-horizontal">
        <a mat-list-item>
          <mat-icon class="white-icon">search</mat-icon>
        </a>
        <a mat-list-item>
          <mat-icon class="white-icon">account_circle</mat-icon>
        </a>
        <a mat-list-item>
          <mat-icon class="white-icon">shopping_cart</mat-icon>
        </a>
      </mat-nav-list>
    </div>
  </mat-toolbar>
</header>
