<section id="shop">
  <div class="shop-window">
    <h3 id="shopTitle">Shop</h3>
      <mat-nav-list class="list-menu-horizontal" >
        <a mat-list-item  routerLinkActive="active"  (click)="setDisplaySlide('hf')" routerLink="/home/hf">Home Furnishings</a>
        <a mat-list-item  routerLinkActive="active"  (click)="setDisplaySlide('acc')" routerLink="/home/acc">Accessories</a>
        <a mat-list-item  routerLinkActive="active"  (click)="setDisplaySlide('sp')" routerLink="/home/sp" >Sports</a>
        <a mat-list-item  routerLinkActive="active"  (click)="setDisplaySlide('cl')" routerLink="/home/cl">Clothing</a>
      </mat-nav-list>

      <div id="slideshow-container">
        <app-slide-show></app-slide-show>
      </div>

      <div class="svg-container indoor">
        <svg  version="1.1" class="svg-content">
          <rect [ngClass]="{'checked': this.filter==='in'}" id="indoor-clickable"
                fill="black" stroke="black" stroke-width="3" stroke-miterlimit="3" height="100%" width="100%" opacity="1"  (click)="setDisplaySlideInOut('in')"/>
        </svg>

      </div>


      <div class="svg-container outdoor" >
        <svg  version="1.1" lass="svg-content">
          <rect [ngClass]="{'checked': this.filter==='out'}" fill="red" stroke="black" stroke-width="3" stroke-miterlimit="3" height="100%" width="100%" opacity="1" (click)="setDisplaySlideInOut('out')"/>
        </svg>
      </div>

      <button class="btn btn-success" routerLink="/productListing">Shop Now</button>

  </div>
  <div class="eloign"></div>
  <app-popular-section-view></app-popular-section-view>
  <app-collections-section-view></app-collections-section-view>
</section>
