
@import "../../variables.less";

.shop-window{
  width: 100%;
  position: relative;



  @media screen and (min-width: 600px){
     .list-menu-horizontal{
       width: 25%;
       display: inline-block;
     }
    #slideshow-container{
      width: 60%;
      display: inline-block;
    }
    #shopTitle{
      margin-bottom: 0px;
    }
  }
  @media screen and (max-width: 600px){
    .list-menu-horizontal {
      padding: 0;

      .mat-list-item {
        display: inline-block;
        height: auto;
        width: 25%;
        font-size: @sizeSelectSlideMobileScreen;
      }
    }
  }

  mat-nav-list {
    a:focus {
      background-color: lightgray;
    }

    .active {
      background-color: lightgray;
    }
  }

  .svg-container{
    .checked{
      fill: lightgray;
      opacity: 0.3;
    }
  }
}

.eloign{
  height: 1200px;
}


