<section id="shop">
  <div class="shop-window">
    <h3 id="shopTitle">Shop</h3>
      <mat-nav-list class="list-menu-horizontal" >
        <a mat-list-item  routerLinkActive="active"  (click)="setDisplaySlide('hf')" routerLink="/home/hf">Home Furnishings</a>
        <a mat-list-item  routerLinkActive="active"  (click)="setDisplaySlide('acc')" routerLink="/home/acc">Accessories</a>
        <a mat-list-item  routerLinkActive="active"  (click)="setDisplaySlide('sp')" routerLink="/home/sp" >Sports</a>
        <a mat-list-item  routerLinkActive="active"  (click)="setDisplaySlide('cl')" routerLink="/home/cl">Clothing</a>
      </mat-nav-list>

      <div id="slideshow-container">
        <app-slide-show></app-slide-show>
      </div>

    <button class="btn btn-success" routerLink="/productListing">Shop Now</button>

      <div class="row svg-container">
        <div class="col-sm-6">
          <svg  version="1.1" class="svg-content hack" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <rect [ngClass]="{'checked': this.filter==='in'}" fill="lightgray"
                  height="50px" width="60px" opacity="1" (click)="setDisplaySlideInOut('in')"/>
          </svg>
        </div>
        <div class="col-sm-5 offset-1">
          <svg  version="1.1" class="svg-content" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <rect [ngClass]="{'checked': this.filter==='out'}" fill="lightgray"
                  height="60px" width="60px" opacity="1" (click)="setDisplaySlideInOut('out')"/>
          </svg>
        </div>
      </div>





  </div>
  <app-popular-section-view></app-popular-section-view>
  <app-collections-section-view></app-collections-section-view>
</section>
