<!--
<li xmlns="http://www.w3.org/1999/html">

  <img src="{{imgUrl}}" alt="" height="200px" width="200px">

 <p>{{id}}</p>
  <p>{{name}}</p>
  <p>{{brand}}</p>
  <p>{{collection}}</p>
  <p>{{price}}</p>
  <p>{{rate}}</p>
</li>-->

  <div class="card">
    <img class="card-img-top" src="{{imgUrl}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{collection}} <span> {{brand}}</span></p>
      <p>{{price}} $</p>
      <p class="card-text"><small class="text-muted">rating : {{rate}} star</small></p>
    </div>
  </div>
