<!-- La page home contient 2 sections, la shop section et la newsletter section (composant)-->
<!-- La section shop contient la section shop, popular,collections (composant)-->
<!-- La pop in est appelé ici et non dans l'app meme si elle est général à l'appli elle à besoin d'avoir une position redéfinit -->

<div id="home" class="col-xs-12 home-page-container">
  <h3 id="site-title">Minim</h3>
  <app-shop-section-view></app-shop-section-view>
  <app-newsletter-section-view></app-newsletter-section-view>
  <app-popin-modal id="apm"></app-popin-modal>

</div>
