<section id="shop">
  <div class="shop-window">
    <h3 id="shopTitle">Shop</h3>
      <mat-nav-list class="list-menu-horizontal" >
        <a mat-list-item  routerLinkActive="active"  (click)="setDisplaySlide('hf')" routerLink="/home/hf">Home Furnishings</a>
        <a mat-list-item  routerLinkActive="active"  (click)="setDisplaySlide('acc')" routerLink="/home/acc">Accessories</a>
        <a mat-list-item  routerLinkActive="active"  (click)="setDisplaySlide('sp')" routerLink="/home/sp" >Sports</a>
        <a mat-list-item  routerLinkActive="active"  (click)="setDisplaySlide('cl')" routerLink="/home/cl">Clothing</a>
      </mat-nav-list>

    <!-- slideShow component utilise ng-simple-slideshow (package npm) -->
      <div id="slideshow-container">
        <app-slide-show></app-slide-show>
      </div>

    <div class="row btn-container">
      <div class="col-12">
        <button class="btn btn-success" routerLink="/productListing">Shop Now</button>
      </div>
    </div>

    <!-- probleme de responsivité avec les svgs -- non résolu
    <div class="row">
      <div class="col-md-7 offset-md-3">
        <svg  version="1.1" class="svg-content" width="100%" height="350" preserveAspectRatio="xMinyMin">
          <rect id="indoor" [ngClass]="{'checked': this.filter==='in'}" fill="lightgray"
                height="200px" width="200px" opacity="1" (click)="setDisplaySlideInOut('in')"/>
          <rect id="outdoor" [ngClass]="{'checked': this.filter==='out'}" fill="lightgray"
                height="200px" width="200px" opacity="1" x="50%" (click)="setDisplaySlideInOut('out')"/>
        </svg>
      </div>
      </div>
    </div>
  -->

    <!-- solution trouvé -->
    <!-- ngClass checked change (en less) la couleur du background -->
    <!-- *ngIf déclenche l'animation des SVGS si ces derniers ont étés cliqués -->
    <!-- setDisplayInOut change les items montrés dans le slideshow 1 -->
    <div class="row option-indoor-outdoor">
      <div class="col-sm-6  col-md-4 offset-md-2 col-xl-3 offset-xl-3 outdoor-container" [ngClass]="{'checked': this.filter==='out'}" (click)="setDisplaySlideInOut('out')">
        <h4>Outdoors</h4>
        <span class="shop-annotation">SHOP</span>
        <div class="row justify-content-center align-items-center">
          <svg width="305px" height="250px" viewBox="0 0 100 100" >
            <image class="hack" xlink:href="../../../assets/images/options/outdoor.png" alt="outdoor animated image" width="50px" height="50px" x="25%" y="25%"/>
            <animate *ngIf="filter === 'out'" dur="3s" attributeName="width" values="150; 250; 150"
                     repeatCount="indefinite" />
          </svg>
        </div>
        <div class="row footer justify-content-end">
          <button class="dead-link btn btn-outline-dark">Shop Outdoors</button>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-xl-3 indoor-container" [ngClass]="{'checked': this.filter==='in'}" (click)="setDisplaySlideInOut('in')">
          <h4>Indoors</h4>
          <span>SHOP</span>
        <div class="row justify-content-center">
          <svg width="305px" height="250px" viewBox="0 0 100 100 " >
            <g>
              <image xlink:href="../../../assets/images/options/indoor.png" alt="outdoor animated image" width="50px" height="80px" x="25%" y="8%"/>
              <animateMotion *ngIf="filter === 'in'" dur="2s" repeatCount="indefinite"
                             path="m 0,0 a 15,11 0 1 1 -30,0 15,11 0 1 1 30,0 z" />
            </g>
          </svg>
        </div>
        <div class="row footer justify-content-end">
          <button class="dead-link btn btn-outline-dark">Shop Indoors</button>
        </div>
      </div>
    </div>


    <app-popular-section-view></app-popular-section-view>
    <app-collections-section-view></app-collections-section-view>
  </div>

</section>
